In [13]:
# Import Dependencies
import pandas as pd

AAPL_df = pd.read_csv("BUDfinal2.CSV")
AMZN_df = pd.read_csv("GISfinal2.CSV")
FB_df = pd.read_csv("HSYfinal2.CSV")
GOOGL_df = pd.read_csv("KOfinal2.CSV")
MSFT_df = pd.read_csv("PEPfinal2.CSV")

AAPL_df.head()

,Unnamed: 0,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change,Date to Num,Month to Num,Volatility
0,0,8,2017-12-29,111.87,112.36,111.47,111.56,866413,December,Friday,2017,BUD,-0.002771,5,12,0.007984
1,1,9,2017-12-28,111.99,112.11,110.97,111.26,837556,December,Thursday,2017,BUD,-0.006518,4,12,0.010273
2,2,10,2017-12-27,112.13,112.30,111.69,112.15,938073,December,Wednesday,2017,BUD,0.000178,3,12,0.005462
3,3,11,2017-12-26,111.55,112.12,111.30,111.41,549469,December,Tuesday,2017,BUD,-0.001255,2,12,0.007367
4,4,12,2017-12-22,111.36,111.62,111.13,111.56,987023,December,Friday,2017,BUD,0.001796,5,12,0.004409

In [14]:
Master_df = pd.concat([AAPL_df,AMZN_df,FB_df,GOOGL_df,MSFT_df], axis=0)
Master_df.to_csv("masterdata.csv", index=False, header=True)