In [2]:
# Import Dependencies
import pandas as pd

BAC_df = pd.read_csv("BACfinal.CSV")
C_df = pd.read_csv("Cfinal.CSV")
JPM_df = pd.read_csv("JPMfinal.CSV")
USB_df = pd.read_csv("USBfinal.CSV")
WFC_df = pd.read_csv("WFCfinal.CSV")

C_df.head()

,Unnamed: 0,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change,Date to Num,Month to Num
0,0,6,2017-12-29,75.17,75.29,74.380,74.41,10020995,December,Friday,2017,C,-0.008924,5,12
1,1,7,2017-12-28,74.91,75.17,74.840,75.08,7934819,December,Thursday,2017,C,0.002537,4,12
2,2,8,2017-12-27,74.67,75.08,74.520,74.89,9650457,December,Wednesday,2017,C,0.001471,3,12
3,3,9,2017-12-26,75.45,75.72,74.415,74.78,10852736,December,Tuesday,2017,C,-0.009405,2,12
4,4,10,2017-12-22,75.87,75.99,75.050,75.49,11491632,December,Friday,2017,C,-0.004352,5,12

In [3]:
Master_df = pd.concat([BAC_df,C_df,JPM_df,USB_df,WFC_df], axis=0)
Master_df.to_csv("bankdata.csv", index=False, header=True)