In [1]:
import requests as req
import json
import pprint
import csv
import pandas as pd
from datetime import datetime

In [3]:
Akey = "7C30FVQUUM6RC6HT"

start_url = "https://www.alphavantage.co/query?"
function = "TIME_SERIES_MONTHLY"
stock = "INDEXCBOE"

url = start_url + "function=" + function + "&symbol=" + stock + "&apikey=" + Akey

#print(url)
get = req.get(url)
getJ = get.json()

print(json.dumps(getJ, indent=4))

{
    "Error Message": "Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_MONTHLY."
}

In [95]:
Stock = getJ["Meta Data"]["2. Symbol"]
Stock

'AAPL'

In [113]:
mydictionary = getJ
df = pd.DataFrame.from_dict(mydictionary["Monthly Time Series"], orient='index')
df.head()

             1. open   2. high    3. low  4. close 5. volume
2000-02-29  104.0000  119.9400   97.0000  114.6200  65355200
2000-03-31  118.5600  150.3800  114.0000  135.8100  77663900
2000-04-28  135.5000  139.5000  104.8700  124.0600  77342900
2000-05-31  124.8700  126.2500   81.7500   84.0000  87569200
2000-06-30   81.7500  103.9400   50.3100   52.3800  89106200

In [114]:
df = df.reset_index()
df = df.sort_index(ascending=False)
df = df.reset_index()
df.head()

   level_0       index   1. open   2. high    3. low  4. close  5. volume
0      215  2018-01-05  170.1600  175.3700  169.2600  175.0000   99095223
1      214  2017-12-29  169.9500  177.2000  166.4600  169.2300  518560008
2      213  2017-11-30  169.8700  176.2400  165.2800  171.8500  581876496
3      212  2017-10-31  154.2600  169.6499  152.4600  169.0400  496135305
4      211  2017-09-29  164.8000  164.9400  149.1600  154.1200  669594016

In [115]:
month = []
year = []

for index, row in df.iterrows():
    a = row["index"]
    datee = datetime.strptime(a, "%Y-%m-%d")
    monthdate = datee.strftime("%B")
    yeardate = datee.strftime("%Y")
    month.append(monthdate)
    year.append(yeardate)

df["month"] = month
df["year"] = year

df.head()

,level_0,index,1. open,2. high,3. low,4. close,5. volume,month,year
0,215,2018-01-05,170.1600,175.3700,169.2600,175.0000,99095223,January,2018
1,214,2017-12-29,169.9500,177.2000,166.4600,169.2300,518560008,December,2017
2,213,2017-11-30,169.8700,176.2400,165.2800,171.8500,581876496,November,2017
3,212,2017-10-31,154.2600,169.6499,152.4600,169.0400,496135305,October,2017
4,211,2017-09-29,164.8000,164.9400,149.1600,154.1200,669594016,September,2017

In [116]:
# New - Old / Old

change = []

counter = 0
while counter < (len(df["index"]) -1) :
    new = df["4. close"][counter]
    old = df["4. close"][counter + 1]
    calc = (float(new) - float(old)) / float(old)
    change.append(calc)
    counter += 1

change.append(0)
df["month change"] = change
df.head()

,level_0,index,1. open,2. high,3. low,4. close,5. volume,month,year,month change
0,215,2018-01-05,170.1600,175.3700,169.2600,175.0000,99095223,January,2018,0.034096
1,214,2017-12-29,169.9500,177.2000,166.4600,169.2300,518560008,December,2017,-0.015246
2,213,2017-11-30,169.8700,176.2400,165.2800,171.8500,581876496,November,2017,0.016623
3,212,2017-10-31,154.2600,169.6499,152.4600,169.0400,496135305,October,2017,0.096808
4,211,2017-09-29,164.8000,164.9400,149.1600,154.1200,669594016,September,2017,-0.060244

In [ ]:
name = []

counter = 0
while counter < len(df["index"])

In [106]:
final = df.loc[(df["year"] >= 2007) and (int(df["year"]) <= 2017), :]

TypeError: cannot convert the series to <class 'int'>

In [ ]:
file = "monthly_AAPL.csv"

# Method 2: Improved Reading using CSV module
import csv
with open(csvpath, newline='') as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')

    print(csvreader)

    #  Each row is read as a row
    for row in csvreader:
        print(row)

In [29]:
print(getJ[0])

KeyError: 0

In [34]:
url = "https://www.alphavantage.co/query"

function = "TIME_SERIES_MONTHLY"
symbol = "FB"
api_key = "SMBQT4NW44MXXREK"   

data = { "function": function,
        "symbol": symbol,
        "apikey": api_key } 
page = requests.get(url, params = data)
pprint.pprint(page.json())

{'Meta Data': {'1. Information': 'Monthly Prices (open, high, low, close) and '
                                 'Volumes',
               '2. Symbol': 'FB',
               '3. Last Refreshed': '2018-01-05',
               '4. Time Zone': 'US/Eastern'},
 'Monthly Time Series': {'2012-06-29': {'1. open': '28.8920',
                                        '2. high': '33.4500',
                                        '3. low': '25.5200',
                                        '4. close': '31.0950',
                                        '5. volume': '667910500'},
                         '2012-07-31': {'1. open': '31.2500',
                                        '2. high': '32.8800',
                                        '3. low': '21.6100',
                                        '4. close': '21.7100',
                                        '5. volume': '520189700'},
                         '2012-08-31': {'1. open': '21.5000',
                                        '2. high': '22.4500',
                                        '3. low': '18.0300',
                                        '4. close': '18.0580',
                                        '5. volume': '1151944900'},
                         '2012-09-28': {'1. open': '18.0800',
                                        '2. high': '23.3700',
                                        '3. low': '17.5500',
                                        '4. close': '21.6600',
                                        '5. volume': '1058643700'},
                         '2012-10-31': {'1. open': '22.0800',
                                        '2. high': '24.2500',
                                        '3. low': '18.8000',
                                        '4. close': '21.1100',
                                        '5. volume': '1100938300'},
                         '2012-11-30': {'1. open': '21.0800',
                                        '2. high': '28.0000',
                                        '3. low': '18.8700',
                                        '4. close': '28.0000',
                                        '5. volume': '1527490200'},
                         '2012-12-31': {'1. open': '27.9999',
                                        '2. high': '28.8800',
                                        '3. low': '25.1500',
                                        '4. close': '26.6197',
                                        '5. volume': '1191832200'},
                         '2013-01-31': {'1. open': '27.4400',
                                        '2. high': '32.5063',
                                        '3. low': '27.4200',
                                        '4. close': '30.9810',
                                        '5. volume': '1675851700'},
                         '2013-02-28': {'1. open': '31.0100',
                                        '2. high': '31.0200',
                                        '3. low': '26.3400',
                                        '4. close': '27.2500',
                                        '5. volume': '957639800'},
                         '2013-03-28': {'1. open': '27.0500',
                                        '2. high': '28.6750',
                                        '3. low': '24.7200',
                                        '4. close': '25.5800',
                                        '5. volume': '727180500'},
                         '2013-04-30': {'1. open': '25.6300',
                                        '2. high': '28.1000',
                                        '3. low': '25.1500',
                                        '4. close': '27.7690',
                                        '5. volume': '738509200'},
                         '2013-05-31': {'1. open': '27.8500',
                                        '2. high': '29.0700',
                                        '3. low': '23.2600',
                                        '4. close': '24.3480',
                                        '5. volume': '982094800'},
                         '2013-06-28': {'1. open': '24.2650',
                                        '2. high': '25.1900',
                                        '3. low': '22.6700',
                                        '4. close': '24.8800',
                                        '5. volume': '788331500'},
                         '2013-07-31': {'1. open': '24.9694',
                                        '2. high': '38.3100',
                                        '3. low': '24.1500',
                                        '4. close': '36.8000',
                                        '5. volume': '1438017100'},
                         '2013-08-30': {'1. open': '37.3000',
                                        '2. high': '42.2600',
                                        '3. low': '36.0201',
                                        '4. close': '41.2940',
                                        '5. volume': '1344994100'},
                         '2013-09-30': {'1. open': '41.8400',
                                        '2. high': '51.6000',
                                        '3. low': '41.4400',
                                        '4. close': '50.2300',
                                        '5. volume': '1583083800'},
                         '2013-10-31': {'1. open': '49.9700',
                                        '2. high': '54.8250',
                                        '3. low': '45.2600',
                                        '4. close': '50.2050',
                                        '5. volume': '2032635000'},
                         '2013-11-29': {'1. open': '50.8500',
                                        '2. high': '52.0900',
                                        '3. low': '43.5500',
                                        '4. close': '47.0100',
                                        '5. volume': '1357311900'},
                         '2013-12-31': {'1. open': '46.9000',
                                        '2. high': '58.5800',
                                        '3. low': '46.2600',
                                        '4. close': '54.6490',
                                        '5. volume': '1517533200'},
                         '2014-01-31': {'1. open': '54.8300',
                                        '2. high': '63.3700',
                                        '3. low': '51.8500',
                                        '4. close': '62.5700',
                                        '5. volume': '1294714800'},
                         '2014-02-28': {'1. open': '63.0300',
                                        '2. high': '71.4400',
                                        '3. low': '60.7000',
                                        '4. close': '68.4600',
                                        '5. volume': '1110774100'},
                         '2014-03-31': {'1. open': '66.9600',
                                        '2. high': '72.5900',
                                        '3. low': '57.9800',
                                        '4. close': '60.2400',
                                        '5. volume': '1255440000'},
                         '2014-04-30': {'1. open': '60.4600',
                                        '2. high': '63.9100',
                                        '3. low': '54.6600',
                                        '4. close': '59.7800',
                                        '5. volume': '1884621400'},
                         '2014-05-30': {'1. open': '60.4300',
                                        '2. high': '64.3000',
                                        '3. low': '56.2600',
                                        '4. close': '63.3000',
                                        '5. volume': '1120155500'},
                         '2014-06-30': {'1. open': '63.2300',
                                        '2. high': '68.0000',
                                        '3. low': '61.7900',
                                        '4. close': '67.2900',
                                        '5. volume': '862067700'},
                         '2014-07-31': {'1. open': '67.5800',
                                        '2. high': '76.7400',
                                        '3. low': '62.2100',
                                        '4. close': '72.6500',
                                        '5. volume': '1025679500'},
                         '2014-08-29': {'1. open': '72.2200',
                                        '2. high': '75.9900',
                                        '3. low': '71.5500',
                                        '4. close': '74.8200',
                                        '5. volume': '589592700'},
                         '2014-09-30': {'1. open': '75.0100',
                                        '2. high': '79.7067',
                                        '3. low': '73.0700',
                                        '4. close': '79.0400',
                                        '5. volume': '719738102'},
                         '2014-10-31': {'1. open': '78.7800',
                                        '2. high': '81.1600',
                                        '3. low': '70.3200',
                                        '4. close': '74.9900',
                                        '5. volume': '1083643275'},
                         '2014-11-28': {'1. open': '75.4700',
                                        '2. high': '78.2700',
                                        '3. low': '72.5100',
                                        '4. close': '77.7000',
                                        '5. volume': '491018048'},
                         '2014-12-31': {'1. open': '77.2600',
                                        '2. high': '82.1700',
                                        '3. low': '74.4000',
                                        '4. close': '78.0200',
                                        '5. volume': '534690249'},
                         '2015-01-30': {'1. open': '78.5800',
                                        '2. high': '79.2455',
                                        '3. low': '73.5400',
                                        '4. close': '75.9100',
                                        '5. volume': '546057661'},
                         '2015-02-27': {'1. open': '76.1100',
                                        '2. high': '81.3700',
                                        '3. low': '73.4500',
                                        '4. close': '78.9700',
                                        '5. volume': '475148609'},
                         '2015-03-31': {'1. open': '79.0000',
                                        '2. high': '86.0699',
                                        '3. low': '77.2600',
                                        '4. close': '82.2150',
                                        '5. volume': '575349997'},
                         '2015-04-30': {'1. open': '82.5000',
                                        '2. high': '85.5900',
                                        '3. low': '78.3200',
                                        '4. close': '78.7700',
                                        '5. volume': '542124478'},
                         '2015-05-29': {'1. open': '79.2400',
                                        '2. high': '81.8450',
                                        '3. low': '76.7900',
                                        '4. close': '79.1900',
                                        '5. volume': '421870709'},
                         '2015-06-30': {'1. open': '79.3000',
                                        '2. high': '89.4000',
                                        '3. low': '78.6600',
                                        '4. close': '85.7650',
                                        '5. volume': '537956820'},
                         '2015-07-31': {'1. open': '86.7700',
                                        '2. high': '99.2400',
                                        '3. low': '85.2310',
                                        '4. close': '94.0100',
                                        '5. volume': '790781334'},
                         '2015-08-31': {'1. open': '93.5300',
                                        '2. high': '98.7400',
                                        '3. low': '72.0000',
                                        '4. close': '89.4300',
                                        '5. volume': '709770559'},
                         '2015-09-30': {'1. open': '86.9900',
                                        '2. high': '96.4900',
                                        '3. low': '85.7200',
                                        '4. close': '89.9000',
                                        '5. volume': '634104916'},
                         '2015-10-30': {'1. open': '90.0500',
                                        '2. high': '105.1200',
                                        '3. low': '88.3600',
                                        '4. close': '101.9700',
                                        '5. volume': '571991600'},
                         '2015-11-30': {'1. open': '102.4600',
                                        '2. high': '110.6500',
                                        '3. low': '100.4700',
                                        '4. close': '104.2400',
                                        '5. volume': '547199822'},
                         '2015-12-31': {'1. open': '104.8300',
                                        '2. high': '107.9200',
                                        '3. low': '101.4600',
                                        '4. close': '104.6600',
                                        '5. volume': '440479804'},
                         '2016-01-29': {'1. open': '101.9500',
                                        '2. high': '112.8400',
                                        '3. low': '89.3700',
                                        '4. close': '112.2100',
                                        '5. volume': '792709100'},
                         '2016-02-29': {'1. open': '112.2700',
                                        '2. high': '117.5900',
                                        '3. low': '96.8200',
                                        '4. close': '106.9200',
                                        '5. volume': '874152635'},
                         '2016-03-31': {'1. open': '107.8300',
                                        '2. high': '116.9900',
                                        '3. low': '104.4000',
                                        '4. close': '114.1000',
                                        '5. volume': '521143963'},
                         '2016-04-29': {'1. open': '113.7500',
                                        '2. high': '120.7900',
                                        '3. low': '106.3100',
                                        '4. close': '117.5800',
                                        '5. volume': '741613866'},
                         '2016-05-31': {'1. open': '117.8300',
                                        '2. high': '121.0800',
                                        '3. low': '114.8000',
                                        '4. close': '118.8100',
                                        '5. volume': '460559986'},
                         '2016-06-30': {'1. open': '118.5000',
                                        '2. high': '119.4400',
                                        '3. low': '108.2300',
                                        '4. close': '114.2800',
                                        '5. volume': '451155442'},
                         '2016-07-29': {'1. open': '114.2000',
                                        '2. high': '128.3300',
                                        '3. low': '112.9700',
                                        '4. close': '123.9400',
                                        '5. volume': '470108473'},
                         '2016-08-31': {'1. open': '123.8500',
                                        '2. high': '126.7300',
                                        '3. low': '122.0700',
                                        '4. close': '126.1200',
                                        '5. volume': '365670913'},
                         '2016-09-30': {'1. open': '126.3800',
                                        '2. high': '131.9800',
                                        '3. low': '125.6000',
                                        '4. close': '128.2700',
                                        '5. volume': '376582063'},
                         '2016-10-31': {'1. open': '128.3800',
                                        '2. high': '133.5000',
                                        '3. low': '126.7500',
                                        '4. close': '130.9900',
                                        '5. volume': '313284563'},
                         '2016-11-30': {'1. open': '131.4100',
                                        '2. high': '131.9400',
                                        '3. low': '113.5535',
                                        '4. close': '118.4200',
                                        '5. volume': '654602125'},
                         '2016-12-30': {'1. open': '118.3800',
                                        '2. high': '122.5000',
                                        '3. low': '114.0000',
                                        '4. close': '115.0500',
                                        '5. volume': '408728358'},
                         '2017-01-31': {'1. open': '116.0300',
                                        '2. high': '133.1400',
                                        '3. low': '115.5100',
                                        '4. close': '130.3200',
                                        '5. volume': '379004804'},
                         '2017-02-28': {'1. open': '132.2500',
                                        '2. high': '137.1800',
                                        '3. low': '130.3000',
                                        '4. close': '135.5400',
                                        '5. volume': '384700625'},
                         '2017-03-31': {'1. open': '136.4700',
                                        '2. high': '142.9500',
                                        '3. low': '136.0800',
                                        '4. close': '142.0500',
                                        '5. volume': '342098632'},
                         '2017-04-28': {'1. open': '141.9300',
                                        '2. high': '151.5300',
                                        '3. low': '138.8100',
                                        '4. close': '150.2500',
                                        '5. volume': '273330661'},
                         '2017-05-31': {'1. open': '151.7400',
                                        '2. high': '153.6000',
                                        '3. low': '144.4200',
                                        '4. close': '151.4600',
                                        '5. volume': '390036541'},
                         '2017-06-30': {'1. open': '151.7500',
                                        '2. high': '156.5000',
                                        '3. low': '144.5600',
                                        '4. close': '150.9800',
                                        '5. volume': '405705533'},
                         '2017-07-31': {'1. open': '151.7200',
                                        '2. high': '175.4900',
                                        '3. low': '147.8000',
                                        '4. close': '169.2500',
                                        '5. volume': '402911091'},
                         '2017-08-31': {'1. open': '169.8200',