In [6]:
# Import Dependencies
import pandas as pd

AAPL_df = pd.read_csv("BACfinal2.CSV")
AMZN_df = pd.read_csv("Cfinal2.CSV")
FB_df = pd.read_csv("JPMfinal2.CSV")
GOOGL_df = pd.read_csv("USBfinal2.CSV")
MSFT_df = pd.read_csv("WFCfinal2.CSV")

AAPL_df.head()

,Unnamed: 0,level_0,index,1. open,2. high,3. low,4. close,5. volume,Month,Day,Year,Company,daily change,Date to Num,Month to Num,Volatility
0,0,8,2017-12-29,29.850,29.88,29.520,29.52,40133412,December,Friday,2017,BAC,-0.011055,5,12,0.012195
1,1,9,2017-12-28,29.730,29.82,29.660,29.80,35842803,December,Thursday,2017,BAC,0.002355,4,12,0.005394
2,2,10,2017-12-27,29.660,29.73,29.601,29.73,31827793,December,Wednesday,2017,BAC,0.002360,3,12,0.004358
3,3,11,2017-12-26,29.740,29.94,29.580,29.78,42254735,December,Tuesday,2017,BAC,0.001345,2,12,0.012170
4,4,12,2017-12-22,29.965,30.03,29.620,29.88,54073301,December,Friday,2017,BAC,-0.002837,5,12,0.013842

In [7]:
Master_df = pd.concat([AAPL_df,AMZN_df,FB_df,GOOGL_df,MSFT_df], axis=0)
Master_df.to_csv("masterdata.csv", index=False, header=True)